/*
.header{
    background-color: ;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0PX 4PX 4PX #1c1a19;
    text-align: center;
}
#corps{
  width: 100%;
  margin: auto;
  border: beige;
  margin-right:auto ;

}
#logo{
    display : flex;
    width: 15px;
    height:80px ;
}
#log{
    display : flex;
    width: 15px;
    height:40px ;

}
ul{
    display: flex;
}
li{
    list-style-type: none;
}
nav{
    background-color: black;
    border-radius: 0%;
    text-emphasis: none;
    list-style-position: inside;

}
h3  {
    color: white;
}
*/

*{
    padding: 0;
    margin :0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: grey;
    background-size: cover;
    background-repeat:no-repeat; 
    font-family: sans-serif;
    height: 80 vh;
}
.nav-list{
    padding:1rem 0 ;
    display:flex;
    justify-content:flex-end;
    border: 1px solid black  ; 
    background-color: blue;
    text-align:center;


}
.nav-item{
    margin-right:2rem;
    text-transform: uppercase;
    font-weight:600;
}
.nav-item a{
    color:#000;
    letter-spacing: 1.2px
}
button{
    margin-right: 6px;
}

